.name:nth-child(1) {
    position: absolute;
    width: 178.06px;
    height: 25.81px;
    left: 186px;
    top: 382px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;
}

.name:nth-child(2) {
    position: absolute;
    width: 178.06px;
    height: 14.19px;
    left: 186px;
    top: 414px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;

    color: #F3BF99;
}

.name:nth-child(3) {
    position: absolute;
    width: 228px;
    height: 16px;
    left: 161px;
    top: 437px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* identical to box height, or 15px */

    text-align: center;

    color: #F5F5F5;
}